body{
  background-color: black;
  color: white;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 240px;
  height: 60px;
}

.search-bar{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-input:hover{
  opacity: 70%;
}

.search-input{
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 20px 20px 20px 20px;
  background-color: #121212;
  color: #fff;
  font-size: 14px;
  margin-left: 200px;
}

.icon-section{
  display: flex;
  align-items: center;
}

.icon{
  width: 24px;
  height: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.icon:hover{
  opacity: 50%;
}

.line2{
width :81%;
margin-left: 265px;
opacity: 50%;
}

.oneimage{
  margin-left: 910px;
  position: absolute;
  top: 17px;
}

.secondimage{
  margin-left: 945px;
  position: absolute;
  top: 17px;
  height: 25px;
}

.secondimage:hover{
  opacity: 50%;
}

.category-bar{
  display: flex;
  overflow-x: auto;
  background-color: #000;
  padding: 10px;
  scrollbar-width: none;
  margin-left: 260px;
}

.category-item{
  margin-right: 10px;
}

.category-button{
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.category-button:hover{
   opacity: 50%;
}


.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: #000;
    color: #fff;
    margin-left: 240px;
  }
  
  .video-card{
    background-color: #121212;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .video-card:hover{
    opacity: 70%;
  }

  .thumbnail{
    width: 100%;
    height: auto;
    display: block;
  }
  
  .video-info{
    display: flex;
    padding: 8px;
  }
  
  .logo2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .text-info{
    display: flex;
    flex-direction: column;
  }
  
  .video-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .channel-name,
  .video-stats{
    font-size: 12px;
    color: #aaa;
  }
  




  .video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
  }
  
  .video-frame-main {
    width: 80%;
    height: 500px;
    border: none;
  }
  

  .remove-button{
    margin-top: -500px;
    background-color: rgb(232, 125, 125);
    color: rgb(6, 6, 6);
  }