body{
    background-color: black;
    color: white;
  }
  
  .top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 240px;
    height: 60px;
  }
  
  .search-bar{
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-input:hover{
    opacity: 70%;
  }

  .search-input{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 20px 20px 20px 20px;
    background-color: #121212;
    color: #fff;
    font-size: 14px;
    margin-left: 200px;
  }
  
  .icon-section{
    display: flex;
    align-items: center;
  }
  
  .icon{
    width: 24px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
  }

  .icon:hover{
    opacity: 50%;
  }

  .line2{
  width :81%;
  margin-left: 265px;
  opacity: 50%;
  }

  .oneimage{
    margin-left: 910px;
    position: absolute;
    top: 17px;
  }

  .secondimage{
    margin-left: 945px;
    position: absolute;
    top: 17px;
    height: 25px;
  }

  .secondimage:hover{
    opacity: 50%;
  }
  
  .category-bar{
    display: flex;
    overflow-x: auto;
    background-color: #000;
    padding: 10px;
    scrollbar-width: none;
    margin-left: 260px;
  }
  
  .category-item{
    margin-right: 10px;
  }
  
  .category-button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
 .category-button:hover{
     opacity: 50%;
 }
